PhotoGallery/PhotoGallery/obj/
PhotoGallery/PhotoGallery/bin/
PhotoGallery/PhotoGallery.Domain/obj/
PhotoGallery/PhotoGallery.Domain/bin/
PhotoGallery/IoC/obj/
PhotoGallery/IoC/bin/
PhotoGallery/Mapping/bin/
PhotoGallery/PhotoGallery.DataAccess/bin/
PhotoGallery/PhotoGallery.DataAccess/obj/
PhotoGallery/Mapping/obj/
PhotoGallery/Common/bin/
PhotoGallery/Common/obj/
PhotoGallery/AppStaticCore/bin/
PhotoGallery/PhotoGallery.DataTransfer/bin/
PhotoGallery/PhotoGallery.DataTransfer/obj/
PhotoGallery/AppStaticCore/obj/
PhotoGallery/Logging/bin/
PhotoGallery/Logging/obj/
PhotoGallery/logs/
PhotoGallery/PhotoGallery.AppCommonCore/obj/
PhotoGallery/PhotoGallery.Services/bin/
PhotoGallery/PhotoGallery.Services/obj/
PhotoGallery/PhotoGallery.Mapping/bin/
PhotoGallery/PhotoGallery.Logging/bin/
PhotoGallery/PhotoGallery.Logging/obj/
PhotoGallery/PhotoGallery.AppCommonCore/bin/
PhotoGallery/PhotoGallery.IoC/bin/
PhotoGallery/PhotoGallery.Common/bin/
PhotoGallery/PhotoGallery.Common/obj/
PhotoGallery/PhotoGallery.Mapping/obj/
PhotoGallery/PhotoGallery.IoC/obj/
PhotoGallery/PhotoGallery.Entities/obj/
PhotoGallery/PhotoGallery.Entities/bin/
