<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
       autoReload="true"
       throwExceptions="false"
       internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="connectionString" value="Data Source=.;Initial Catalog=PhotoGallery;Integrated Security=True"/>
  <variable name="logFileDirectory" value="${basedir}/../logs/${shortdate}.txt"/>

  <targets>
    <target xsi:type="Database" name="AppLog" connectionString="${connectionString}" keepConnection="true" useTransactions="true"
             dbProvider="System.Data.SqlClient"
            commandText="insert into App_Log([Message],[LogLevel])
        values (@Message,@LogLevel)">
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@LogLevel" layout="${level}"/>
    </target>

    <target xsi:type="Database" name="ErrorLog" connectionString="${connectionString}" keepConnection="true" useTransactions="true"
             dbProvider="System.Data.SqlClient"
            commandText="insert into Error_Log([Message],[Stacktrace])
        values (@Message,@Stacktrace)">
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@Stacktrace" layout="${exception:format=ToString}"/>
    </target>

    <target name="File" xsi:type="File"
    fileName="${logFileDirectory}"
    layout="${level}--${message} ${exception:format=ToString} ${newline}"
    />
  </targets>

  <rules>
    <logger name="*" levels="Debug,Info" writeTo="AppLog" />
    <logger name="*" level="Error" writeTo="ErrorLog"/>
    <logger name="*" levels="Debug,Info,Error" writeTo="File"/>
  </rules>
</nlog>
